
svg{
    display: block !important;
} 

#update-weather-btn{
    z-index: 9999 !important;
    left: 50%;
    position: absolute;
}

#update-status{
    height: 200px;
    width: 10vw;
    z-index: 9999 !important;
    left: 50%;
    top: 150px;
    position: absolute;
    background-color: rgb(19, 1, 1);
}